
//listado individual asociado noticias_lista_individual.blade.php
.contenedor-listado-noticias{
  width: 100%;
  padding: 0px 15px;
  @include flexbox;       
  @include flex-direction(column);
  @include align-items(center); 

}

.post-preview{
 width: 100%;
 padding:8px;
 border-radius:4px;
 cursor:pointer;

}

.post-preview:hover{
 background-color:$color-grey0 ;

}

.post-title{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  color:$color-black;
  font-weight: 900;

}

.post-subtitle{
  font-weight: 300;
  margin: 0 0 10px;
  font-size: 24px;
  color:$color-black;
}


.post-meta{

  font-size: 18px;
  font-style: italic;
  margin-top: 0px;
  line-height: 1.5;
  margin: 30px 0px;

}


.post-hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}


//pagina-de-post-individual

//clase que ajuste el tamañao de la imagen
.post-img-slider-size{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
 }


 .post-individual-p{
    line-height: 1.5;
    margin: 30px 0;
    font-size: 20px;
 }

 .post-individual-section-titulo{
   font-size: 36px;
   font-weight: 700;
   margin-top: 60px;

 }

 .post-img-secundarias{
  max-width: 100%;
  height:auto;
 }

 .post-img-texto{
    font-size: 14px;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: $color-gris-text;
 }




 .video-responsive {
width: 100%;
  margin-top: 20px;
position: relative;
padding-bottom: 56.25%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
height: 0;
overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}




@media (min-width: $BrackPoint-Primario){}



@media (min-width: $BrackPoint-Secundario){

  .contenedor-listado-noticias{
    width: 80%;
  }

  .post-img-slider-size {
    height: 80vh;
  }
}




@media (min-width: $BrackPoint-Tercer){


  .contenedor-listado-noticias{
    width: 65%;
  }

  .post-title{
    font-size: 36px;
  }
}