.contiene-entidad-lista-servicio{
  padding: 10px;
  border-radius: 6px;
  margin-top: 3px;
  background-color: $Color-Gris-Claro;  
  width: 98%;
}

.contiene-entidad-lista-servicio:hover{
  background-color: $Color-Gris-Claro-Para-Bordes;  
}




   .entidad-lista-servicio-fecha{
    font-size: 10px;
    margin-top: 1px;
    color: $color-gris-text;
   }


