//contiene listado de socios de resultados de busqueda
.listado-socios-contenedor-lista{
    width: 100%;
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(center); 
    @include flex-wrap(wrap); 
    @include justify-content(space-around); 
}


 .listado-socios-contenedor-individual{
   width: 100%;
   padding: 4px;
   border-radius: 4px;
   background-color:$Color-Gris-CasiBlanco ;
   margin-top: 2px;
   @include flexbox;       
   @include flex-direction(column);
   @include align-items(flex-start); 
   border:solid 2px transparent;
 }
 .listado-socios-contenedor-individual:hover{
  background-color: white;
  border-color:$color-3;
 }


  .listado-socios-sub-contenedor-name-estado{
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(center); 
    width: 100%;
    @include justify-content(space-between); 
    margin-bottom: 3px;
    border-bottom:solid 1px $Color-Gris-Claro;
  }


    .listado-socios-name{
      font-weight: bold;
      font-size: 16px;
      width: 70%;
    }


  .listado-socios-sub-contenedor-datos{
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(flex-start); 
    padding: 3px;
    border-radius: 4px;
    background-color: $Color-Gris-Claro;
    font-size: 10px;
    color: $Color-texto-gris-Mercadolibre;
  }

   .listado-socios-datos{
    margin-top: 1px;

   }















 @media (min-width: $BrackPoint-Secundario){

   .listado-socios-contenedor-individual{
    width: 50%;
   }



 }



  @media (min-width: $BrackPoint-Tercer){

   .listado-socios-contenedor-individual{
    width: 33%;
    padding: 8px;
   }


  
 }



  @media (min-width: $BrackPoint-Cuarto){


   .listado-socios-contenedor-individual{
    width: 25%;
   }

  
 }