.panel-socio-header-contenedor{
  width: 100%;
  @include flexbox;       
  @include flex-direction(column);
  @include align-items(center); 
  padding: 15px;
  border-radius: 4px; 
}


  .panel-socio-name{
    font-size: 22px;
    font-weight: bold;
  }


  .panel-socio-contiene-acciones{
    padding:8px;
    border-radius:4px;
    background-color: $Color-Gris-Claro;
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(center); 
  }













@media (min-width: $BrackPoint-Primario){}
@media (min-width: $BrackPoint-Secundario){


.panel-socio-header-contenedor{ 
  @include flex-direction(row);
  @include align-items(center);   
  @include justify-content(space-between);
  margin-bottom: 10px;
}

  .panel-socio-name{
    font-size: 28px;
    font-weight: bold;
  }



}
@media (min-width: $BrackPoint-Tercer){}