.estado-pago-indication{
  padding: 6px;
  border-radius: 8px;
  font-size: 18px;
  color:$color-verde-texto-success;
  background-color: $Color-Verde-Super-Claro;
}

.estado-debe-indication{
  padding: 6px;
  border-radius: 8px;
  font-size: 18px;
  color:$Color-Rojo-Texto-Error;
  background-color: $Color-Errors-BG;
}




