//contiene listado de socios de resultados de busqueda
.listado-socios-contenedor-lista{
    width: 100%;
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(center); 
    @include flex-wrap(wrap); 
    @include justify-content(space-around); 
}


 .listado-socios-contenedor-individual{
   width: 100%;
   padding: 4px;
   border-radius: 4px;
   background-color:$Color-Gris-Claro;
   margin-top: 2px;
   @include flexbox;       
   @include flex-direction(column);
   @include align-items(flex-start); 
 }
 .listado-socios-contenedor-individual:hover{
  background-color: white;
 }


  .listado-socios-sub-contenedor-name-estado{
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(center); 
    width: 100%;
    @include justify-content(space-between); 
  }


    .listado-socios-name{
      font-weight: bold;
      font-size: 16px;
      width: 70%;
    }


















 @media (min-width: $BrackPoint-Secundario){

   .listado-socios-contenedor-individual{
    width: 50%;
   }



 }



  @media (min-width: $BrackPoint-Tercer){

   .listado-socios-contenedor-individual{
    width: 33%;
    padding: 8px;
   }


  
 }



  @media (min-width: $BrackPoint-Cuarto){


   .listado-socios-contenedor-individual{
    width: 25%;
   }

  
 }