.producto-individual-contenedor-imgs{
  width: 100%;
  padding: 8px;
  border-radius:4px;
  background-color: $color-grey0;  
}


 .producto-individual-img-contendor{ 
  
  width: 100%;
  

 }

  .producto-individual-img{

    width: 100%;
    height: auto;

  }


.producto-individual-descripcion{
  margin-top: 30px;
  margin-bottom:20px;
  text-align: center;
  color: $color-gris-text;
  font-size: 14px;

}

