.contiene-img-y-nombre{
  @include flexbox; 
  @include flex-direction(row);
  @include align-items(center);
}

.admin-empresa-img-corporativas{
  height: 40px;
  margin-top: 6px;
  padding: 4px;
  border-radius: 4px; 

}