
$color-3:#ff5a5f; /* institucional PRINCIPAL */
$color-3-primary_hover:#ff7377;
$color-2:#e0494d; /* institucional OSCURO -  */



$color-gris-text:#b4b4b4 ;
$color-gris-background: #ffefef;
$color-gris-lineas: #ffefef;

/*verdes*/
$color-verde-texto-success:#4BB543;




/* $font-primary:'Merriweather', 'Helvetica Neue', Arial, sans-serif ; */
$font-primary:'Roboto', sans-serif ;
$font-secondary: 'Roboto', sans-serif;




/* fuente sociales */

@font-face {
font-family: 'Social-Media-Circled'; /* Nombre que va a tener esa font*/
font-style: normal;
font-weight: normal;
src: local('../fonts/Social-Media-Circled'), url('../fonts/Social-Media-Circled.otf') format('truetype');
}