





//listado individual asociado noticias_lista_individual.blade.php
.contenedor-listado-noticias{
  width: 100%;
  padding: 0px 15px;
}

.post-preview{
 

}

.post-title{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  color:$color-black;

}

.post-subtitle{
  font-weight: 300;
  margin: 0 0 10px;
  font-size: 24px;
  color:$color-black;
}


.post-meta{

  font-size: 18px;
  font-style: italic;
  margin-top: 0px;
  line-height: 1.5;
  margin: 30px 0px;

}


.post-hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}


//pagina-de-post-individual

//clase que ajuste el tamañao de la imagen
.post-img-slider-size{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
 }


 .post-individual-p{
    line-height: 1.5;
    margin: 30px 0;
    font-size: 20px;
 }

 .post-individual-section-titulo{
   font-size: 36px;
   font-weight: 700;
   margin-top: 60px;

 }




@media (min-width: $BrackPoint-Primario){}



@media (min-width: $BrackPoint-Secundario){

  .contenedor-listado-noticias{
    width: 80%;
  }

  .post-img-slider-size {
    height: 80vh;
  }
}




@media (min-width: $BrackPoint-Tercer){


  .contenedor-listado-noticias{
    width: 65%;
  }

  .post-title{
    font-size: 36px;
  }
}