.formulario-contacto-wraper{
  padding:4px 10px;
}

.contiene_contacto_img{
  
  @include flexbox;       
  @include flex-direction(column);
  @include align-items(center); 
  margin-bottom: 20px;
  padding: 10px;
}

.contacto_img{
  width: 200px;
  height: auto;
  border-radius:100%;
  margin-bottom: 20px;
}

.contacto_name{
  font-size: 28px;
  margin-bottom: 9px;
  padding:8px;
  border-radius:4px;
  
  border-bottom:solid 4px $color-3;
}

.contacto_aclaracion{
  font-size: 14px;
  margin-bottom: 5px;

}





 @media (min-width: $BrackPoint-Secundario){


.formulario-contacto-wraper{
  padding:4px 4px;
}
  .contiene_contacto_img{
  
  }

  .contacto_img{
  width: 300px;
}
  
}