

/* contiene-cada-columna-del-footer */
.contenedor-columna-footer{
  padding:40px;
  width:90%;  
}

/* es-el-logo-del-footer-a-la-derecha */
.logo-footer{
  width:130px;
  height:auto;
}

.footer-icono-social{
  font-size: 35px;
  padding:3px 8px;
  border-radius: 4px;  
}
.footer-icono-social:hover{
  background-color:$color-3-primary_hover;
  color:white;
}
















@media (min-width: $BrackPoint-Primario){

        .contenedor-columna-footer{
          padding:10px;
          width:33.33%;
        }

        .logo-footer{
          width:150px; 
        }

       

}

@media (min-width: $BrackPoint-Secundario){

        .contenedor-columna-footer{
          padding:40px;
        }

        .logo-footer{
          width:180px; 
        }

  
}

@media (min-width: $BrackPoint-Tercer){



  
}