.Slider-Contendor{
    position: absolute;
    right: 15%;
    bottom: 0px;
    left: 15%;
    z-index: 10;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    color: #fff;
    text-align: center;
}

.Slider_cabecera_caption_titulo{
  font-size: 2rem;
}

.Slider_cabecera_caption_sub_titulo{
  font-size: 1rem;
}  

.Slider_cabecera_caption_logo{
  position:absolute; 
  right: 5%; 
  bottom: 5%; 
  height: 50px;
  width:auto;
  display:none;
}

.Slider_cabecera_boton_contacto{
  font-size:1rem ;
  padding: 1rem 2rem;
}

.Slider_cabecer_img{
  
}




@media (min-width: $BrackPoint-Primario){

.Slider_cabecera_caption_logo{  
  height: 60px;  
  display:block;
}

.Slider_cabecer_img , .no_mostrar_en_small{
  display:block;
}

.Slider_cabecer_img_responsive,.mostrar_en_small{
 display:none;
}

.Slider_cabecera_boton_contacto{
  font-size:1rem ;
  padding: 1rem 2rem;
}

   
}

@media (min-width: $BrackPoint-Secundario){
.Slider_cabecera_caption_titulo{
  font-size: 3rem;
}

.Slider_cabecera_caption_sub_titulo{
  font-size: 2rem;
}

.Slider_cabecera_caption_logo{  
  height: 70px;  
}
 

  
}

@media (min-width: $BrackPoint-Tercer){



  
}


