.Seccion_precio_plan_ajuste_ancho{
  width:80%;
}

.Seccion_precio_contenedor_plan{
    width: 100%;
    border-radius: 4px;
    background-color: #ffffff;
       
    padding-top: 43px;
    padding:40px 10px;    
    text-align: center;
    margin-bottom: 32px;
    -webkit-box-shadow: 13px 10px 21px -7px rgba(186,184,186,1);
    -moz-box-shadow: 13px 10px 21px -7px rgba(186,184,186,1);
    box-shadow: 13px 10px 21px -7px rgba(186,184,186,1);
}

.Seccion_precio_icono{  
  font-size:40px;
  margin-bottom:20px;
  width:90%;
  padding-bottom: 20px;
  border-bottom:solid 1px $color-gris-lineas;
}



.Seccion_precio_precio{
  margin-bottom:30px;
  @include flexbox;       
  @include flex-direction(row);
  @include align-items(center); 
  @include flex-wrap(wrap); 
}
  .Seccion_precio_moneda{
    color:$color-gris-text; 
    
  }

  .Seccion_precio_importe{
    color:black;
    font-weight:bold;
    font-size:35px;
  }

.Seccion-_precio_separacion{
  margin-left: 15px;
}  
.Seccion_precio_importe_oferta_cartel{
  padding:10px 20px;
  font-weight: bold;
  color:white;
  border-radius:4px;
  margin-top: 10px;
  background-color:$color-3;
  text-align: center;
  width: 100%;

}
.Seccion_precio_importe_precio_tachado{
  font-size: 14px;
  color: $color-gris-text;
  text-decoration:line-through;
}

.Seccion-contenedor-items{
  
  padding:0 8px;
  margin-bottom:40px;
}

.Seccion_precio_lista_item{
  color: $color-gris-text;
  font-size:12px;
  margin-top: 10px;
  font-family: $font-secondary;
} 


.Seccion_precio_aclaracion{
  font-size:10px;
  margin-top:30px;
  margin-bottom:30px;
  color: $color-gris-text;
  padding:0 20px;
  font-family:$font-secondary;
}







@media (min-width: $BrackPoint-Primario){


.Seccion_precio_plan_ajuste_ancho{
  width:60%;
}



}



@media (min-width: $BrackPoint-Secundario){

.Seccion_precio_plan_ajuste_ancho{
  width:32%;
}

.Seccion_precio_aclaracion{
  font-size:12px;
  
  padding:0 40px;
}


}


@media (min-width: $BrackPoint-Tercer){
.Seccion_precio_plan_ajuste_ancho{
  width:30%;
}
}